* {
    margin: 0;
    padding: 0;
        box-sizing: border-box;
}
.top-header {
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
   
    top: 0;
    z-index: 1000;
}
.navbar {
    max-width: 1600px;
    max-height: 92px;
    margin: 0 auto;        
    display: flex;
    justify-content: space-between;  
    align-items: center;   
    padding: 16px 120px;
}
.logo img {
    width: 139px;
    height: 60px;
}
.navigationbar-links {
    list-style: none;
    display: flex;
    gap: 32px;
    text-decoration: none;
}
.navigationbar-links a {
  text-decoration: none;
  text-decoration-color: black;
  color: #000000;
}
.navigationbar-links a:hover {
  color: #469165;
}
.btn-nav{
  outline: none;
    border: none;
  background-color: #469165;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-style: semi-bold;
    line-height: 100%;
    letter-spacing: 0%;
}
.btn-nav:hover{
  background-color: #059669;
    transform: translateY(-2px);
  cursor: pointer;
}
.hero-section {
 
    width: 100%;
    min-height: 674px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(rgba(11, 15, 25, 0.8), rgba(11, 15, 25, 0.8)), url('./assets/hero-bg.png');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
       position: relative;
    text-align: center;
    color: white;




}
.Hero-badge{
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    background-color:white;
    color: #469165;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;          
    font-weight: 500;
    font-style: medium;
    line-height: 20px;
    letter-spacing: 0px;
}
.hero-text h1 {
    font-family: 'Inter', sans-serif;
    font-size: 72px;          
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 16px;
    
  }
  .text-green {
    color: #30B868;
  }
  .hero-text p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;          
    font-weight: 400;
    font-style: regular;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
  }
.hero-buttons {
  margin: 0 auto;
  width: 465px;
  height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;               
}

/* My-2nd-button */
.btn-green {
  display: inline-flex;
    background-color:#469165;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    white-space: nowrap;
}
.btn-green:hover {
    background-color: #059669;
    transform: translateY(-2px);
    cursor: pointer;
}

/* My-3rd-button */
.btn-secondary {
  display: inline-flex;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    white-space: nowrap;
}
.btn-secondary i {
    font-size: 14px;
}

.btn-secondary:hover {
    background-color: #059669;
    transform: translateY(-2px);
    cursor: pointer;
}
.Cards-intro {
    background-color: #ffffff;
    padding: 100px 20px;
    text-align: center;
   height: 448px;
}

.Cards-header h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    color: #001931; 
    margin-bottom: 16px;
}

.Cards-header p {
    color: #627382;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto 60px auto;
    line-height: 20px;
    margin-bottom: 44px;
}
.Cards-grid {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
}
.Cards-card {

  display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;   
    padding-bottom: 70px;
    padding-top: 70px;
    
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.283);
    box-sizing: border-box;
}
.Cards-card img {
    width: 24px;  
    height: auto;
        display: block;
        align-items: center;
      }
      .Cards-card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 8px;
}

.Cards-card p {
    color: #4b5563;
    font-size: 15px;
    line-height: 1.5;
    width: 274px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
.icon-box-red {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.Cards-card:hover{
  background-color: #44b9dd;
    transform: translateY(-2px);

}
.feature-detail {
    background-color: #FFFFFF; 
    padding: 120px;
    gap: 40px;
     display: flex;
     justify-content: space-between;
}

.container-detail {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 80px;           
}

.detail-content {
    flex: 0 0 45%;
    
}
 .badge-small{
  
    color: #469165;
   margin-bottom: 16px;
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;          
    font-weight: 500;
    font-style: medium;
    line-height: 18px;
    letter-spacing: 0px;
 }

.detail-content h2 {
    font-size: 48px;
    font-weight: 700;
     font-family: 'Inter';
     font-style: bold;
     letter-spacing: 0%;
    color:#001931;
    margin-bottom: 16px;
    line-height: 100%;
}

.detail-content p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

/* Feature List Styling */
.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #111827;
}


/* Image Styling */
.detail-image {
    flex: 0 0 50%;    
}

.detail-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.056);
}

#challenge-section {
    padding: 80px 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 12px;
}

.challenge-card {
    background-color: #F7F6F2; 
    width: 100%;
    max-width: 1100px;
    padding: 80px 40px;
    border-radius: 16px;
    text-align: center;
}

.challenge-card h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: bold;
    color: #001931;
    margin-bottom: 16px;
}

.challenge-paragraph {
    font-size: 16px;
    font-weight: 400;
    font-style: regular;
    color: #4b5563;
    line-height: 24px;
    margin-bottom: 24px;
}

.challenge-button {
    background-color: #4e9a74; 
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: -16px;
}

.challenge-button:hover {
    background-color: #059669;
    transform: translateY(-2px);
    cursor: pointer;
}

.challenge-footer {
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


